.App {
  display: flex;
  flex-direction: column;
}
.header {
  flex: 0.9;
  height: 10vh;
  top: 0;
  position: sticky;
  z-index: 100;
}
.mainBody {
  flex: 0.9;
  display: flex;
  flex-direction: row;
  background-color: #f0f2f5;
}
.addMessageBtn {
  position: fixed;
  top: 90vh;
  right: 3vw;
}
.addmessage {
  background-color: white !important;
}
.addMessage {
  color: black !important;
}
